@font-face {
    font-family: Speda;
    src: url('Speda.ttf');
}


body{

    margin: 0px;

    padding: 0px;
display: grid;
height: 1000px;


  
    background: linear-gradient(180deg, white 0%, #fbeaaf 53%) ;

  

}

.head_nav{


    width: 100%;
    height: 70px;
    background-color: rgba(14, 100, 150,0.8);
   


}

#arrow_left{

    margin-top: 12px;
    margin-left: 10px;
   
}



h3{

    position: absolute;
    top: 0px;
    font-family: Speda;
    font-size: 22px;
    text-align: center;
    margin-left: 50%;
    color: white;
    letter-spacing: 2px;
}


#head_text{

    font-family: Speda;


    margin: 0px 0px 650px 690px;

    

   
}

form{

    position: relative;

    bottom: 70%;
   height: 80%;
}

form input{

    padding: 10px;
    font-size: 20px;
    font-family: Speda;
    position: relative;
    left: 27%;

}

